<md-card *ngFor="let car of cars">
  <md-card-title>{{car.nickname}}</md-card-title>
  <md-card-subtitle>{{car.year}} {{car.make}} {{car.model}}</md-card-subtitle>
  <md-card-actions></md-card-actions>
</md-card>

<md-grid-list cols="3">
  <md-grid-tile *ngFor="let car of cars">
    <md-card class="car-card">
      <md-card-title>{{car.nickname}}</md-card-title>
      <md-card-subtitle>{{car.year}} {{car.make}} {{car.model}}</md-card-subtitle>
      <md-card-actions></md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>
